:root {
  --prime-color: #2e2f42;
  --second-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  background-color: #ffffff;

}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1158px;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  margin: 24px auto;
  display: flex;
  justify-content: space-between;

}

header nav {
  display: flex;
  gap: 76px;
}

header nav ul {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-second-part {
  color: var(--prime-color);
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  color: var(--prime-color);
}

.header-nav:focus {
  color: #404bbf;
}

.header-nav:hover {
  color: #404bbf;
}

.header-nav:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-address-li {
  color: var(--second-color);

}

.header-address-li:hover {
  color: #404bbf;
}

.header-address-li:focus {
  color: #404bbf;
}

/* hero */
.hero .container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-h-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.hero {
  background-color: var(--prime-color);
}

.hero-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;

}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404BBF;
}

/* advanteges */
.advanteges .container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.advanteges .container ul {
  display: flex;
  gap: 24px
}

.advanteges-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--prime-color);
}

.advanteges-p {
  color: var(--second-color);
  padding-top: 8px;
}

/* our-team */
.our-team .container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team ul {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}

.our-team-main-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-li {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 32px;
  text-align: center;
}

.our-team p {
  color: var(--second-color);
  padding-top: 8px;
  padding-bottom: 32px;
  text-align: center;
}

/* our-portfolio */
.our-portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.our-portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.our-portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  padding-bottom: 72px;
}


.our-portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 32px;
  padding-left: 16px;
}

.our-portfolio p {
  color: var(--second-color);
  padding-top: 8px;
  padding-left: 16px;
}

.our-team-li-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* footer */
.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 156px;
  width: 264px;
}

.footer {
  background-color: var(--prime-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-second-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-p {
  color: #f4f4fd;
  padding-top: 16px;
}